<section>
  <h2 class="border-bottom border-secondary pb-4" style="--bs-border-opacity: .75;">このアプリでできること</h2>
  <p>資格の勉強や習いごと、ついついみちゃったYoutubeなど自分自身の活動を項目に分けて分単位で記録できます。</p>
  <p>記録した内容を項目別の時間数や、期間別の割合で見ることができます。</p>
</section>
<section>
  <h2 class="border-bottom border-secondary pb-4" style="--bs-border-opacity: .75;">アプリの使い方</h2>
  <p>入力画面で入力して、、、</p>
  <img src="#" alt="入力画面のスクショ">
  <p>統計ページで記録したデータを見ることができます。</p>
  <img src="#" alt="stats画面のスクショ">
</section>
<section>
  <h5 class="border-bottom border-secondary pb-4" style="--bs-border-opacity: .75;">サイト名の由来</h5>
  <p>recordaは、ポルトガル語で~を覚えるという意味です。
    英語で言うrememberに近しい意味を持ちます。
    Jazzのスタンダードナンバーにこのアプリの名前と同じタイトルの曲があり、そこからの影響と、自分をrecord(記録)するだけでなく、アプリにremember(記憶)してもらうことで、自身を客観的にみる一歩を手助けできればという思いがあります。</p>
</section>

