<section>
  <h2 class="border-bottom border-secondary pb-3" style="--bs-border-opacity: .75;">このアプリでできること</h2>
  <p>資格の勉強や習いごと、ついついみちゃったYoutubeなど自分自身の活動を項目に分けて15分単位で記録できます。</p>
  <p>記録した内容を項目別の時間数や、期間別の割合で見ることができます。</p>
</section>
<section>
  <h2 class="border-bottom border-secondary pb-3" style="--bs-border-opacity: .75;">アプリの使い方</h2>
  <h5 class="my-5">入力画面で、時間を設定した項目を入力する</h5>
  <%= image_pack_tag 'media/images/log_form.png', alt: "入力画面のスクリーンショット", class: "border border-2 img-fluid" %>
  <h5 class="my-5">記録する活動を自分で設定できます。</h5>
  <%= image_pack_tag 'media/images/item_index.png', alt: "項目名の編集画面", class: "border border-2 img-fluid" %>
  <h5 class="my-5">統計ページで記録したデータを見ることができます。</h5>
  <%= image_pack_tag 'media/images/stats.png', alt: "入力画面のスクリーンショット", class: "border border-2 img-fluid" %>
</section>
<section>
  <h5 class="border-bottom border-secondary pb-3 my-5" style="--bs-border-opacity: .75;">サイト名の由来</h5>
  <p>recordaは、ポルトガル語で'~を覚える'という意味です。英語で言うrememberに近い意味を持ちます。
    <br />
    自分をrecord(記録)するだけでなく、アプリにremember(記憶)してもらうことで、自身を客観的にみる一歩を手助けできればという思いがあります。
  </p>
</section>

