<section class="container">
  <div class="row py-lg-w5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Recorda me<br>自分自身を記録しよう</h1>
      <p class="lead text-muted">自分の活動を記録し、可視化する</p>
      <p class="lead text-muted pb-1">
        やらなきゃいけないことがあるのに、<br />
        うまく継続できない...<br />
      Recorda meはそんな人のためのアプリです<br />
      <br />
        時間を家計簿のように記録してみましょう
      </p>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary"%>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary"%>
      </div>
    </div>
  </div>
</section>

