<%= render 'stats_header' %>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%=  link_to "比率を見る", stats_pie_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "遷移を見る",stats_line_path, class: "nav-link  active" %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <%= line_chart  @items.map { |item|
  { name: item.name,
    data: item.logs.group_by_month('logs.created_at', format: 
    '%m月').sum('logs.amount / 60') }
  }, stacked: true, suffix: "時間", curve: false%>
  </div>
</div>