<div class="dash-board">
      <h3 class="text-start pb-1 mb-3 border-bottom border-2">
        ここ一週間の記録
      </h3>
      <%= column_chart  @items.map { |item|
        { name: item.name,
          data: item.logs.group_by_day('logs.created_at', last: 7, format: '%m月 %d日 (%a)').sum('logs.amount / 60') }
      }, stacked: true, suffix: "時間", legend: 'hide', dataset: {borderWidth: 1.5} %>
</div>