<div class="row">
  <div class="col-md-4">
    <section class="side-bar">
      <h4> <%= @user.name %> さんのページ </h6>
    </section>
  </div>
  <div class="col-md-8">
    <h3 class="text-start pb-1 mb-3 border-bottom border-2">直近の記録</h3>
    <div class="deck">
      <%= render @logs %>  
      <%= paginate @logs %>
    </div>
  </div>
</div>

