<%# ログインしてないnavbar_items_partial %>
<li class="nav-item">
  <%= link_to "Recorda meとは", about_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
</li>