$pagination-active-bg: #6c757db8;
@import "~bootstrap/scss/bootstrap.scss";

//bootstrap調整
body {
  letter-spacing: -0.01em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

.btn {
  --bs-btn-border-radius: 0.2rem;
}

// itemごとの配色
.item-bg-1{
  background-color: #D896AD;
}
.item-bg-2{
  background-color: #ECA2A3;
}
.item-bg-3{
  background-color: #F1B996;
}
.item-bg-4{
  background-color: #F6D699;
}
.item-bg-5{
  background-color: #E3DE9A;
}
.item-bg-6{
  background-color: #A6D29A ;
}
.item-bg-7{
  background-color:  #93C7B7;
}
.item-bg-8{
  background-color: #92BFC7;
}
.item-bg-9{
  background-color: #90B0CA;
}
.item-bg-10{
  background-color: #8FACD0;
}
.item-bg-11{
  background-color: #B5A4C7;
}
.item-bg-12{
  background-color: #C59DBB;
}

