<div class="col-md-3">
  <div class="card my-1">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <%= link_to "名前を編集する", edit_item_path(item), class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>