<footer class="bg-secondary row text-white justify-content-between">
  <small class="col-md-4 p-2  text-center">Copy right&copy; 2022 Masanao Takahashi   All right Reserved</small>
  <div class="col-md-4 text-end p-2 pe-5">
    <%= link_to "利用規約", terms_of_service_path, class:"d-block text-white" %> 
    <%= link_to "プライバシーポリシー", privacy_policy_path, class:"d-block text-white" %> 
  </div>
</footer>
