<nav class="navbar navbar-expand-sm bg-secondary">
  <div class="container-lg">
    <a class="navbar-brand fs-3 fw-light" href="#">Recorda Me</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <%# case request.pathとかで active/aria_currentを付け替えられるかも%>
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>