<nav class="navbar navbar-expand-sm bg-secondary sticky-top">
  <div class="container-lg">
    <%= link_to "Recorda Me", root_path, class: "navbar-brand fs-3 fw-light" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <%= link_to "ホーム", root_path, class: "nav-link" %>
        </li> 
        <% if user_signed_in? %>
          <%= render "layouts/navbar_items/logged_in" %>
        <% else %>
          <%= render "layouts/navbar_items/non_login" %>
        <% end %>  
      </ul>
    </div>
  </div>
</nav>